In [21]:
import numpy as np
import pandas as pd
# import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [22]:
df= pd.read_csv('penguins_size.csv')

In [23]:
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [24]:
df.shape

(344, 7)

In [25]:
df.isna().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [26]:
df=df.dropna(axis=0, subset=['culmen_length_mm',
          'culmen_depth_mm', 'flipper_length_mm', 'body_mass_g'])

In [27]:
df['sex']=df['sex'].fillna(df['sex'].mode())

In [28]:
df.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  8
dtype: int64

In [29]:
df['species'].value_counts()

Adelie       151
Gentoo       123
Chinstrap     68
Name: species, dtype: int64

In [30]:
df['sex'].value_counts()

MALE      168
FEMALE    165
.           1
Name: sex, dtype: int64

In [31]:
df.loc[df['sex']=='.', 'sex'] = 'MALE'

In [32]:
df['sex'].value_counts()

MALE      169
FEMALE    165
Name: sex, dtype: int64

In [33]:
df['island'].value_counts()

Biscoe       167
Dream        124
Torgersen     51
Name: island, dtype: int64